<?xml version="1.0" ?>
<robot name="Telemarketing" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- Base link -->
  <gazebo reference="base_link">
    <material>Gazebo/White</material>
  </gazebo>

  <!-- Right drive wheel -->
  <gazebo reference="r_dwheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- Left drive wheel -->
  <gazebo reference="l_dwheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- Front right caster wheel -->
  <gazebo reference="fr_cwheel">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- Front left caster wheel -->
  <gazebo reference="fl_cwheel">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- Back right caster wheel -->
  <gazebo reference="br_cwheel">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- Back left caster wheel -->
  <gazebo reference="bl_cwheel">
    <mu1>0.0</mu1>
    <mu2>0.0</mu2>
    <kp>500000.0</kp>
    <kd>10.0</kd>
    <minDepth>0.001</minDepth>
    <maxVel>0.1</maxVel>
    <fdir1>1 0 0</fdir1>
    <material>Gazebo/FlatBlack</material>
  </gazebo>

  <!-- Plugin for differential drive controller -->
  <gazebo>
    <plugin name='differential_drive_controller' filename='libgazebo_ros_diff_drive.so'>
      <!--<alwaysOn>true</alwaysOn>-->
      <updateRate>100</updateRate>
      <leftJoint>l_dwheel_joint</leftJoint>
      <rightJoint>r_dwheel_joint</rightJoint>
      <wheelSeparation>0.3219</wheelSeparation>
      <wheelDiameter>0.2032</wheelDiameter>
      <wheelAcceleration>0.1</wheelAcceleration>
      <wheelTorque>40</wheelTorque>
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <robotBaseFrame>base_footprint</robotBaseFrame>
      <publishWheelTF>true</publishWheelTF>
      <publishOdom>true</publishOdom>
      <robotBaseFrame>base</robotBaseFrame>
      <publishWheelJointState>true</publishWheelJointState>
      <legacyMode>false</legacyMode>
    </plugin>
  </gazebo>

  <!-- LiDAR -->
  <gazebo reference="lidar_link">
    <material>Gazebo/Blue</material>
    <sensor type="ray" name="hokuyo_sensor">
      <pose>0 0 0 1.5708 0 1.5708</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>1080</samples>
            <resolution>0.25</resolution>
            <min_angle>-2.3562</min_angle>
            <max_angle>2.3562</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.20</min>
          <max>16.0</max>
          <resolution>0.001</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/laser_scan</topicName>
        <frameName>lidar_link</frameName>
      </plugin>
    </sensor>
  </gazebo>


</robot>
