<launch>

  <arg name="model" default="$(find telemarketing_description)/urdf/telemarketing.xacro"/>
  <arg name="gui" default="true"/>
  <arg name="rvizconfig" default="$(find telemarketing_description)/rviz/urdf_all_sensors.rviz"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-1"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="-0.8"/>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model telemarketing -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
  <node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>

  <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

  <!--<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>-->

</launch>
