<launch>

  <arg name="rvizconfig" default="urdf_ir_us"/>
  <arg name="show_gazebo" default="False"/>
  <arg name="joy_config" default="ps4"/>

  <include file="$(find telemarketing_description)/launch/spawn_robot.launch">
    <arg name="rvizconfig" value="$(arg rvizconfig)"/>
    <arg name="show_gazebo" value="$(arg show_gazebo)"/>
  </include>
  <!--<include file="$(find telemarketing_gui)/launch/telemarketing_gui_operator.launch"/>-->
  <include file="$(find telemarketing_teleop)/launch/teleop.launch">
    <arg name="joy_config" value="$(arg joy_config)"/>
  </include>

</launch>
