<launch>
    <!--<node name="left_wheel_pid" pkg="pid" type="controller" >
        <param name="Kp" value="5.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.1" />
        <param name="upper_limit" value="10" />
        <param name="lower_limit" value="-10" />
        <param name="windup_limit" value="10" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
        <param name="topic_from_controller" value="servo_vel_controlled_left" />
        <param name="setpoint_topic" value="vel_setpoint_left" />
         <param name="topic_from_plant" value="encoder_data_left" />
        <param name="pid_enable_topic" value="pid_left_enable" />
    </node>-->

    <node name="right_wheel_pid" pkg="pid" type="controller" >
        <param name="Kp" value="5.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.1" />
        <param name="upper_limit" value="10" />
        <param name="lower_limit" value="-10" />
        <param name="windup_limit" value="10" />
        <param name="max_loop_frequency" value="100.0" />
        <param name="min_loop_frequency" value="100.0" />
        <param name="topic_from_controller" value="servo_vel_controlled_right" />
        <param name="setpoint_topic" value="vel_setpoint_right" />
        <param name="topic_from_plant" value="encoder_data_right" />
        <param name="pid_enable_topic" value="pid_right_enable" />
    </node>

</launch>
